header{
    background-image: url(.././img/shape.svg\ fill.png);
    background-color:#F27024;
    background-repeat: no-repeat;
    background: position -237px;
    
}
.flex {
    display:flex;
}
li {
    /* display:flex;
    flex-direction: column; */
    display: inline-block;
    
}
.navlink {
    color:white;
    padding:9px 11px;
    text-decoration: none;
}
#hom {
    background-color:rgba(255, 255, 255, 0.146) ;
}
.container {
    display: flex;
    justify-content: space-between;
}

section span {
    color:#F27024
}
section h2{
    text-align: center;
    color: white;
}
.sec1 {
    background-image: url(.././img/Section.png);
    background-position: center;
    display: contents;
    background-repeat:no-repeat;
    padding-top: 38px;
    padding-bottom: 51px;
}

.sec2 {
    background-color: #EFEFEF;
    display: flex;
    gap: 30px;
    padding:50px 63px 120px 67px;
}
.color  {
    color: #00445C;
    text-align: center;
}
section div p {
    color:#404040;
    text-align: center;
}

.separate {
    background-color:  #FFF;
}
.button {
    background-color: #F27024;
    padding: 10px 29.44px 11.66px 29.64px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sec3 {
    text-align: center;
}
.our {
    color:#00445C;
}
.display {
    display: flex;
   
}
.sec4 {
    align-items: start;
    padding:67px;
    flex-direction: column;
}
.span {
    color: #F27024;
}
.inline p {
text-align: right;
}
.playtophoto {
    display: block;
}
iframe {
    width: 100%;
    height: 256px;
}
.end {
    display: flex;
    padding-left: 67px;
    padding-right: 67px;
    background: #00445C;
    color: #FFF;
    font-family: Inter;
}
.src {
    margin-left: auto;
}
button {
    background-color: #FFF;
    padding: 3px;
}
.amira {
    display: flex;
}